# Project exclude paths
/.gradle/
/Problems/A small version of the Battleship game/out/
/Problems/A small version of the Battleship game/out/production/classes/
/Tic-Tac-Toe/task/build/
/Tic-Tac-Toe/task/out/
/Tic-Tac-Toe/task/out/production/classes/